/*
 * Base structure
 */

tr.clickable {
  cursor: pointer;
}

tr.clickable:hover {
  background-color: #9CC9F3 !important;
}

div.dataTables_filter {
  text-align: left !important;
}

.table-responsive {
  padding: 10px 0;
}

table.dataTable {
  margin: 0 0 30px 0 !important;
  padding: 0 0 30px 0 !important;
}

table.fixedHeader-floating {
  position: fixed;
  background-color: white

}
table.fixedHeader-floating.no-footer {
  border-bottom-width: 0

}
table.fixedHeader-locked {
  position: absolute;
  background-color: white
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}
dt {
  float: left;
  text-align: right;
  width: 40%;
  padding: 0 !important;
  margin: 0 !important;
}
dd {
  float: left;
  width: 50%;
  padding: 0 !important;
  margin: 0 0 0 10px !important;
}

.sub-header {
  margin-left: 20px;
}

table .selected {
  font-weight: bold;
}