/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

tr.clickable {
  cursor: pointer;
}

tr.clickable:hover {
  background-color: #9CC9F3 !important;
}